body {
    font-family: Arial, Helvetica, sans-serif; 
    background-color: lightcyan;
    font-weight: bolder;
    font-size: 32px;
    margin: 0;
}
header {
    background-color:#5c755e;
    margin: 10px;
    height: 90px;
    border-radius: 5px;
    display: fixed;
}
/* Navigation */

#navbar {
    position: fixed;
    top: 0;
    height: 35px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}


a {
    padding: 0 32px;
    color:#eee;
    transition: 0.4s;
    text-decoration: none;
    
}

a:hover {
    color:black;
    text-decoration: none;
    background-color: white;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    
}
.active {
    color:#f783ae;
}
main {
    background-color: purple;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    font-size: 120%;
}
h1{
    color:#8E8986;
    font-size: 150%;
    text-align: center;
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    font-weight: bold;
    padding-bottom: 5px;
}
h2 {
    color: #fff;
    font-weight: bold;
    padding-bottom: 5px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    font-size: 1.2em;
    opacity: .7;
    padding-bottom: 15px;
}

p{
    text-align: left;
    color:#fff;
    line-height: 1.5em;
    margin: 0;  
}
.para{
    text-align: right;
    font-size: 32px;
}
#para2{
    text-align: center;
}
#welcome-section{
    color: chocolate;
    font-style: italic;
    height: 100vh;
}
#welcome-section:hover{
    transform: skew(-35deg)
}

img {
    width: 50%;
    height: 50%;
    float: right;
    display: block; 
    border-radius: 5px;  
}
#profile-description{
    text-align: left;
}
#projects{
    float: left;
}
.project-tile{
    text-align: center;
}

/* button */
.button {
    background-color: gray;
    border: 1px solid;
    border-radius: 3px;
    text-align: center;
}
.button:hover{
    background-color: indigo;
}

/* form */
#theform{
    color: black;
    background-color: wheat;
    display: table;
    padding: 15px;
    border: solid 2px black;
    display: flex;
    justify-content: center;
}
.row{
    display: table-row;
}

/* footer */
footer{
    background-color:#000;
    margin: 10px;
    height: 65px;
    clear: both;
    border-radius: 5px;
    width: 100%;
}

/* Media */
@media screen and (max-width: 480px) {
    body {
      background-color: lightgreen;
      max-width: 100%;
      height: auto;
    }
  }
@media (max-height: 800px) {
    p {
      font-size: 10px;
    }
  }