*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Utility classes*/
.container {
  max-width: 1100px;
  margin: auto;
}

.text-primary {
  color: whitesmoke;
}

body {
  background-image: url(../img/team.jpg); 
  background-size: cover; 
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  /* color: brown; */
}

main{
  color: brown;
}
#aboutus {
  font-size: 24px;
  text-align: center;
  color:whitesmoke;
}
.team{
  font-size: 24px;
  text-align: center;
  color: whitesmoke;

}


/*navbar*/
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(54, 54, 143);
  color: #fff;
  padding: 1rem 5rem;
  position: sticky;
  top: 0;
  z-index: 1;
  
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar h2 a {
  color: #fff;
  text-decoration: none;
}

#navbar li a:link,
a:visited {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  font-size: 1.3rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  transition: 0.3s;
}

#navbar li a:hover {
  background-color: #3693ff;
}

.text-primary{
  text-transform:uppercase;
  align-items: center;
}

/*welcome section*/
#welcome {
  height: 100px;
}

#welcome-section {
  text-align: center;
  color: whitesmoke;
  font-size: 50px;
  font-family:Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#welcome h2 {
  text-align: center;
  color:whitesmoke;
  padding: 1rem 5rem
}

/*portfolio*/
.memberbox{
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 12px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-top: 20px;
}

.memberbox:hover{
  transform: scale(1.1);
}

#members {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

#members .memberbox {
  float: left;
  background: rgb(212, 211, 208);
  width: 300px;
  height: 300px;
  padding: 40px;
  text-align:justify;
  border-radius:15px;
}

.subtitle{
  text-align: center;
  font-style: oblique;
}
footer{
  text-align: center;
  color: whitesmoke;
  background-color: midnightblue;
  margin: 10px;
  height: 65px;
  /* clear: both; */
  /* border-radius: 5px; */
  width: 100%;
}