body {
    font-family:Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: lightcyan;
    font-weight: bolder;
    font-size: 18px;
    margin: 0;
    
}
#welcome-section{
    font-size: 36px;
}

/* Navigation */

#navbar {
    background-color: crimson;
    margin: 10px;
    padding: 20px;
    height: 20px;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
}


a {
    padding: 0 32px;
    color:black;
    transition: 0.4s;
    text-decoration: none;
    
}

a:hover {
    color:blue;
    text-decoration: none;
    /* background-color: white; */
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;  
}
li{
    display: inline;
}
.active {
    color:#f783ae;
}
main {
    background-color: lightpink;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    /* font-size: 120%; */
    width: 100%;
    /* text-align: center; */
}

h1 {
    color: #fff;
    font-weight: bold;
    padding-bottom: 5px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    /* font-size: 1.2em; */
    opacity: .7;
    /* text-align: left; */
}
h1:hover{
    color: black;
}
p{
    text-align: left;
    color:#000;
    line-height: 1.5em;
    margin: 0;  
    /* font-size: larger; */
}
.para{
    text-align: center;
    /* font-size: 24px; */
}
#para2{
    text-align: center;
}

img {
    width: 50%;
    height: 50%;
    float: right;
    display: block; 
    border-radius: 8px;  
}
img:hover {
    transform: scaleX(-1);
  }
#center{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    /* float: left; */
}
/* #profile-description{
    text-align: left;
} */
#projects{
    float: right;
    border-radius: 50%;
}
/* .project-tile{
    text-align: center;
} */

/* footer */
footer{
    background-color: crimson;
    margin: 10px;
    height: 65px;
    /* clear: both; */
    /* border-radius: 5px; */
    width: 100%;
}

/* Media */
@media screen and (max-width: 480px) {
    body {
      background-color: lightgreen;
      max-width: 100%;
      height: auto;
    }
  }
@media (max-height: 800px) {
    p {
      /* font-size: 10px; */
    }
  }

