body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:whitesmoke;
    text-decoration: papayawhip;
    color: orange;
}
h1{
    background-color: whitesmoke;
    margin: 500px,0px,500px,0px;
    color: teal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#img{
    height: 500px;
    width:  600px;
    image-resolution: 500px;
    border-radius: 16px;
}
#menu ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin:0px;
 }
 #menu li {
     display: inline-block
 }
 #menu a {
    text-decoration: none;
    color: teal;
    background-color:whitesmoke;
    width: 100px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin-top: 20px;
    border-radius: 16px;
}
 #Social ul{
    text-decoration: none;
   }
   #Social li{
       display: inline-block;
       margin-right: 0px;
    }
    #Social a{
        text-decoration: none;
        color: cornsilk;
        width: 100px;
        padding: 10px;
    }
    #about {
        border-color: burlywood;
    }
    #about p{
        color: whitesmoke;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: justify;
        padding: 16px;
        padding-top:0px;
    }
    #about {
        margin-left: 300px;
        margin-right: 300px;
        background-color: teal;
        text-align: left;
        border: wheat;
        border-radius: 16px;
    }
    #about h4{
        color: yellowgreen;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #footer{
        color: teal;
    }
    #contacts {
        margin-left:20px;
        margin-right:20px;
        background-color: teal;
        text-align: center;
        padding: 20px;
        border-radius: 16px;
        color: white;
    }
    #contacts h4{
        color: yellowgreen;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #body {
        display: inline-block;
    }